<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">

    <script src="//use.typekit.net/uzv7qsw.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div class="full-height">
      <div class="v-centered">
        <h3 class="upcase text-center no-margin">Riley Bracken</h1>
        <h6 class="upcase text-center no-margin-top">Site Coming Soon</h1>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="scripts/scripts.js"></script>

  </body>
</html>
